@font-face {
    font-family: 'Brandon Grotesque';
    src: url('BrandonGrotesque-Regular.eot');
    src: url('BrandonGrotesque-Regular.eot?#iefix') format('embedded-opentype'),
        url('BrandonGrotesque-Regular.woff2') format('woff2'),
        url('BrandonGrotesque-Regular.woff') format('woff'),
        url('BrandonGrotesque-Regular.ttf') format('truetype'),
        url('BrandonGrotesque-Regular.svg#BrandonGrotesque-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Chomsky';
    src: url('Chomsky.eot');
    src: url('Chomsky.eot?#iefix') format('embedded-opentype'),
        url('Chomsky.woff2') format('woff2'),
        url('Chomsky.woff') format('woff'),
        url('Chomsky.ttf') format('truetype'),
        url('Chomsky.svg#Chomsky') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

